extends layout

block content
  .container
    .section-title
      h1.text-center Mis servidores
      hr
    .row
      .col-md-8.col-md-offset-2
        if(servers.length <= 0)
          p ¡No tienes ningún servidor!
        else
          table.table.table-striped
            thead
              tr
                th
                th Servidor
                th IP
                th Jugadores
                th Tipo
                th
                  i.glyphicon.glyphicon-heart-empty(aria-hidden='true')
            tbody
              each server in servers
                tr
                  td: a(href='/server/' + server._id): img.img-thumbnail(src=server.icon, style='width: 100%; max-width: 64px; max-height: 64px; display: block')
                  td: a(href='/server/' + server._id) #{server.name}
                  td
                    a.copy(data-toggle="popover", data-placement="top", data-content="¡Copiado!", ip=server.fullip, href='#')
                      | #{server.fullip}&nbsp;
                      i.fa.fa-clone.text-info(aria-hidden='true')
                  td #{server.players}/#{server.max}
                  if server.type === 2
                    td Solo premium
                  else if server.type === 1
                    td Semi-premium
                  else
                    td No premium
                  td
                    | #{server.likes || 0}&nbsp;
                    i.fa.fa-heart.text-danger(aria-hidden='true')
        a(href='/server/new') Añadir nuevo servidor